/**** GLOBAL ****/
/* Estilização de títulos */
/* Estilização de divs */

h1 {
	text-align: center;
}

/**** PÁGINA INDEX ****/
/*div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}*/

.amarelo{
    background-color: yellow;
}

#rosa{
    background-color: pink;
}

/* Exemplo seleção de descendência*/
div.preto {
    background-color: black;
    width: 500px;
    height: 500px;
}

div.preto div {
    background-color: green;
    width: 100px;
    height: 100px;
}

div.preto > div {
    background-color: blue;
    width: 300px;
    height: 300px;
}

/* Exemplo seleção de adjacentes*/
div.roxo {
    background-color: purple;
    width: 500px;
    height: 700px;
}

div.roxo div {
    background-color: green;
    width: 100px;
    height: 100px;
}

.quadrado#verde + .quadrado {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.quadrado#azul ~ .quadrado {
    background-color: orange;
    width: 100px;
    height: 100px;
}

/* Pseudo-classes */
#btn1:hover {
    background-color: red;
}

#btn1:active {
    background-color: black;
}

#btn2:focus {
    background-color: blue;
}

/* Pseudo-elementos */

#p1::first-line {
    background-color: blue;
}

#p2::before {
    content: ":)";
}

#p2::after {
    content: ":(";
}

/* Display */

.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.block {
    display: block;
}

.flex {
	display: flex;
}

.inline {
	display: inline;
}

.inlineBlock {
    display: inline-block;
}